@using ProjectList.Models
@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Project>
<h1>Список проектов</h1>
<table class="table">
    @foreach (Project p in Model)
    {
        <tr><td>@p.Name</td><td>@p.Price</td><td>@p.Category.Name</td><td>@p.Description</td></tr>
    }
</table>